<div class="row">
<div class="col-md-4">
    <nb-card>
        <nb-card-header>
            Frame Materials
        </nb-card-header>

        <nb-card-body>
            <ng2-smart-table [settings]="material_settings" [source]="material_source"
                (deleteConfirm)="material_onDeleteConfirm($event)">
            </ng2-smart-table>
        </nb-card-body>
    </nb-card>
</div>

<div class="col-md-4">
    <nb-card>
        <nb-card-header>
            Lens Materials
        </nb-card-header>

        <nb-card-body>
            <ng2-smart-table [settings]="lens_settings" [source]="lens_source"
                (deleteConfirm)="lens_onDeleteConfirm($event)">
            </ng2-smart-table>
        </nb-card-body>
    </nb-card>
</div>

</div>