<div class="row">
    <div class="col-md-4">
        <nb-card>
            <nb-card-header>
                Frame Brand Names
            </nb-card-header>
    
            <nb-card-body>
                <ng2-smart-table [settings]="framebrand_settings" [source]="framebrand_source"
                    (deleteConfirm)="framebrand_onDeleteConfirm($event)">
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </div>
    
    <div class="col-md-4">
        <nb-card>
            <nb-card-header>
                Lens Brand Names
            </nb-card-header>
    
            <nb-card-body>
                <ng2-smart-table [settings]="lensbrand_settings" [source]="lensbrand_source"
                    (deleteConfirm)="lensbrand_onDeleteConfirm($event)">
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </div>
    
    </div>